
header  {
  background-color: cadetblue;
  height: 14vh;
  display: flex;
}

.logo {
  background-color: aliceblue;
  border: 2px solid blue;
  height: 10vh;
  margin: auto;
}

.bar  {
  margin: auto;

}

.shoppingcart {
  border: 2px solid blue;
  height: 10vh;
  margin: auto;
}

.profile {
  border: 2px solid blue;
  height: 10vh;
  margin: auto;
}


main  {
  background-color: cadetblue;
  margin-top: 1.5vh;
  height: 70vh;
}


footer  {
  background-color: cadetblue;
  margin-top: 1.5vh;
  height: 10vh;
}